@charset "utf-8";
/* CSS Document */
#liuyanban{
	position: relative;
	margin: 0px auto;
	height: 228px;
	width: 1200px;
	}

	
#tc{
	width:550px;
	height:100%;
}
.time{float:left;
	height:100%;
	width:100%;
	margin-bottom:5px;
}	
	
.like_number{float:left;
margin-right:15px;
    font-size:3px;
	hieght:7px;
	width:30px;	
}
.com_number{
	float:left;
	margin-right:350px;
	hieght:7px;
	width:30px;	
	font-size:7px;
}

.comments_icon{
	float:left;
margin-left:0px;
	height:10px;
	width:14px;
	background-image:url(../images/comments_icon.png);
}
.comments_icon:hover{
float:left;
margin-left:0px;
height:10px;
	width:14px;
	background-image:url(../images/comments_icon-hover.png);
}
.likes_icon{
	float:left;
	margin-left:5px;
height:10px;
	width:14px;
	background-image:url(../images/likes_icon.png);			
}
.likes_icon:hover{
float:left;
margin-left:5px;
height:10px;
	width:14px;
	background-image:url(../images/likes_icon-hover.png);
}
.tree_1{
float:top;
padding-left:10px;

}

.liuyan{
	height:40px;
	width: 350px;
	margin-top:5px;
	margin-left:5px;
	border-top-width: 2px;
	border-right-width:2px;
	border-bottom-width: 1px;
	border-left-width:2px;
	border-bottom-color: #000000;
	background-color: transparent;
	font-size: 11px;}	
#liuyan{
	background-image: url(../images/liuyankuang2.png);
	background-repeat: no-repeat;
	position: relative;
	height: 110px;
	width: 520px;
	margin:0px auto;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #384B4A;
	background-color: transparent;
	font-size: 14px;
}
.ly{
	height: 80px;
	width: 500px;
	margin-top:1px;
	margin-left:5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #384B4A;
	background-color: transparent;
	font-size: 14px;}	
.send{margin-left:470px;
	margin-top:8px;
}
.coment_number{
	margin:0px auto;
	margin-top:70px;
	height:30px;
	width:500px;
	float:top;	
}
.receive{
	margin-top:5px;
	margin-left:10px;
	font-size: 11px;
}
.message{

	font-size:9px;
}
a {text-decoration:none;}
a img {border:0;}
a:hover {text-decoration:underline;}
.user-name { font-size:14px; font-weight:bold;color:#DE4C1C }
.wrapper {width:100%;margin:0 auto;}
h1 {font-size:18px;line-height:30px;text-align:center;margin:100px 0;}
h1 span {font-size:12px;color:#696A52;}
p{ font-size:7px; margin:5px 5px 0px 3px;}

/* comment style */
.ds-post-main {margin:0px auto;position:relative;margin-bottom:30px; margin-top:25px;  width:520px;height:100%}
.ds-avatar {z-index:2;position:absolute;top:20px;left:-20px;padding:0px;width:36px;height:36px; border-radius:50%; box-shadow:-1px 0 1px rgba(0,0,0,.15) inset; background:#E5E6D0 url(../images/background_main.png)} repeat 0 0;}
.ds-avatar a {display:block; padding:1px; width:32px; height:32px; border:1px solid #B9BAA6; border-radius:50%; background-color:#fff; -moz-transition:color 0.15s linear; -webkit-transition:color 0.15s linear;transition:color 0.15s linear;}
.ds-avatar img {display:block;width:40px; height:40px;border-radius:50%;box-shadow:0 1px 5px rgba(0, 0, 0, 0.22)}
.ds-comment-body, .ds-avatar, .ds-avatar a,
.ds-avatar img {-webkit-transition:.4s all ease-in-out;-moz-transition:.4s all ease-in-out;-o-transition:.4s all ease-in-out;-ms-transition:.4s all ease-in-out;transition:.4s all ease-in-out}
.ds-post-main:hover .ds-avatar img {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
.ds-comment-body {z-index:1;position:relative;left:0;background: #ffffff;padding:15px 15px 60px 35px;color:#696A52; border-radius:0px; box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.75) inset;}
	