/* General Blueprint Style */


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after {  }

body {
	background-image:url(../images/background_main.png);background-repeat: repeat;
    font-family:  Calibri,  sans-serif;
    color: #234;
    height:110%;
}



.container > header {
	width: 100%;
	max-width:100%;
	float:left;
	padding: 0.7em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 11px;
	line-height: 1.3;
	margin: 0 0 0 0;
	float: left;
	font-weight:normal;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 200;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 100%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}
.male{
	margin:15px 0 0 135px;
	font-size:17px;
	color:#43a2da;
}
.female{
	margin:15px 0 0 135px;
	font-size:17px;
	color:#ff406d;
}

.fans{float:left;
margin-top:7px;
	height:60px;
	width:85px;
	color:#8f8f8f;
	font-size:16px;
	 text-align:center;
}
.fans:hover{float:left;
margin-top:7px;
	height:60px;
	width:85px;
	color:#000;
	font-size:16px;
	 text-align:center;
}
.f1{float:left;
margin-top:0px;
	height:30px;
	width:85px;
	color:#8f8f8f;
	font-size:16px;
	 text-align:center;
}
.f1:hover{float:left;
margin-top:0px;
	height:30px;
	width:85px;
	color:#000;
	font-size:16px;
	 text-align:center;
}


.posts{float:left;
margin-top:7px;
	height:60px;
	width:85px;
	color:#8f8f8f;
	font-size:16px;
	 text-align:center;
}
.posts:hover{float:left;
margin-top:7px;
	height:60px;
	width:85px;
	color:#000;
	font-size:16px;
	 text-align:center;
}
.po1{float:left;
margin-top:0px;
	height:30px;
	width:85px;
	color:#8f8f8f;
	font-size:16px;
	 text-align:center;
}
.po1:hover{float:left;
margin-top:0px;
	height:30px;
	width:85px;
	color:#000;
	font-size:16px;
	 text-align:center;
}
.atten{float:left;
margin-top:7px;
	height:60px;
	width:85px;
	color:#8f8f8f;
	font-size:16px;
	 text-align:center;

}
.atten:hover{float:left;
margin-top:7px;
	height:60px;
	width:85px;
	color:#000;
	font-size:16px;
 text-align:center;
}
.a1{float:left;
margin-top:0px;
	height:30px;
	width:85px;
	color:#8f8f8f;
	font-size:16px;
	 text-align:center;

}
.a1:hover{float:left;
margin-top:0px;
	height:30px;
	width:85px;
	color:#000;
	font-size:16px;
 text-align:center;
}

.l{float:left;
margin-top:8px;
	width:1px;
	height:45px;
	background-color:#234;
}
.attfan{
	
	float:right;
	margin-top:60px;
	height:100%;
	width:265px;
	
}


.message{
	line-height:15px;
	font-family:"Microsoft Yahei";
	color:#000;
    margin-top:5px;
	font-size:11px;
}
.top{
    
	background: #ffffff;		
	width: 100%;
	height: 30px;
	float:left;
	box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	position: relative;
   opacity: 0.7;}
.time{
	 font-family:"Calibri";
	 font-size:14px;
	margin-left:10px;
	position:absolute;
	bottom:5%;
	margin-top:3px;
	color:#8f8f8f;

	text-align:center;
	
}
.rad{

	float:left;
	positon:relative;
	width:120px;
	height:150px;
	overflow: hidden;	
	
}

.na{  
	font-family:"Microsoft Yahei";
	margin-top:5px;
	font-weight:normal;
	text-align:center;
	font-size:15px;
	color:#234;
	
}
.sign{
	height:60px;;
	width:700px;
	margin-left:40px;
    margin-top:15px;
	font-size:18px;
	color:#1c1c1c;
	float:left;
	
}
.pen{
	margin-right:10px;
	margin-top:0px;
	float:left;
	font-size:16px;
	color:#DE4C1C;
	
}
.pen:hover{
	font-size:16px;
	color:#1c1c1c;
}
.prooo{
    color:#696A52; border-radius:0px; box-shadow:2px 2px 3px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.75) inset;
	word-wrap:break-word;
	line-height:20px;
	font-weight:normal;
	font-size:17px;
    color:#234;
	float: left;
	positon:relative;
	width:100%;
	height:150px;
	border: 0px solid #fff;
	overflow: hidden;	
	background: #fff;
}

.mypost{
	margin-left:130px;
	margin-top:85px;
	position:absolute;
	height:30px;
	width:200px;
	background:#fff;
	font-size:20px;
	color:#3ab6ae;
	text-align:center;
}
.mypost:hover{
	margin-left:130px;
	margin-top:85px;
	position:absolute;
	height:30px;
	width:200px;
	background:#3ab6ae;
	font-size:20px;
	color:#fff;
	text-align:center;
}

.mypostSelect{
	margin-left:130px;
	margin-top:85px;
	position:absolute;
	height:30px;
	width:200px;
	background:#3ab6ae;
	font-size:20px;
	color:#fff;
	text-align:center;
}

.social{
margin-left:330px;
margin-top:85px;
position:absolute;
height:30px;
width:200px;
background:#fff;
font-size:20px;
color:#3ab6ae;
text-align:center;
}

.social:hover{
margin-left:330px;
margin-top:85px;
position:absolute;
height:30px;
width:200px;
background:#3ab6ae;
font-size:20px;
color:#fff;
text-align:center;
}

.socialSelect{
margin-left:330px;
margin-top:85px;
position:absolute;
height:30px;
width:200px;
background:#3ab6ae;
font-size:20px;
color:#fff;
text-align:center;
}

.upload{
margin-left:530px;
margin-top:85px;
position:absolute;
height:30px;
width:200px;
background:#fff;
font-size:20px;
color:#3ab6ae;
text-align:center;
}

.upload:hover{
margin-left:530px;
margin-top:85px;
position:absolute;
height:30px;
width:200px;
background:#3ab6ae;
font-size:20px;
color:#fff;
text-align:center;
	
}
h3{font-size:30px}
p{font-size:20px;}
.user-name {  font-family:"Microsoft Yahei";font-size:14px; font-weight:normal;color:#DE4C1C; }
.user-name:hover{color:#000; font-family:"Microsoft Yahei";font-size:14px; font-weight:normal;text-decoration: none;}
h1 {font-size:18px;line-height:30px;text-align:center;margin:100px 0;}
h1 span {font-size:12px;color:#2d2d2d;}
.p1{   font-family:"Calibri";font-size:12px; margin:5px 0px 0px 0px; color:#8f8f8f; }
h2{ font-size:9px; margin:5px 5px 0px 3px; color:#234;font-weight: normal;font-style: normal;}
.p2{line-height:16px;font-size:15px; margin:5px 5px 0px 3px; color:#234;font-weight: normal;font-style: normal;}
/*  p { font-size:11px; margin:5px 5px 0px 3px; color:#234;font-weight: normal;font-style: normal; }*/
/* comment style */
.ds-post-main { position:relative;margin-bottom:20px; margin-top:10px;  width:90%;}
.ds-avatar {z-index:2;position:absolute;top:10px;left:-20px;padding:0px;width:40px;height:40px; border-radius:50%; box-shadow:-1px 0 1px rgba(0,0,0,.15) inset; background:#E5E6D0 url(../images/background_main.png)} repeat 0 0;}
.ds-avatar a {display:block; padding:1px; width:32px; height:32px; border:1px solid #B9BAA6; border-radius:50%; background-color:#fff; -moz-transition:color 0.15s linear; -webkit-transition:color 0.15s linear;transition:color 0.15s linear;}
.ds-avatar img {display:block;width:40px; height:40px;border-radius:50%;box-shadow:0 1px 5px rgba(0, 0, 0, 0.22)}
.ds-comment-body, .ds-avatar, .ds-avatar a,
.ds-avatar img {-webkit-transition:.4s all ease-in-out;-moz-transition:.4s all ease-in-out;-o-transition:.4s all ease-in-out;-ms-transition:.4s all ease-in-out;transition:.4s all ease-in-out}
.ds-post-main:hover .ds-avatar img {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
.ds-comment-body {/*z-index:1*/;position:relative;left:0;background: #ffffff;padding:5px 5px 5px 35px;color:#696A52; border-radius:0px; box-shadow:2px 2px 3px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.75) inset;}
	
/*bbs*/


.friendframe{
	
	color:#3ab6ae;
	width:980px;
	margin:0 auto;
}
.bbs{
	float:left;
	width:680px;
}
.ds{
	padding:5px 5px 5px 5px;
	float:left;
	width:670px;
	margin:0;
}
.tips1{
	margin:0 0 5px 8px;
	color:#2d2d2d;
	font-size:16px;
}
.button2{
	text-align:center;
	width:80px;
	height:30px;
	font-size:17px;
	line-height:25px;
	color:#fff;
	position:absolute;
	margin:85px 0 0 7px;
	z-index:10;
	border-radius:7px;
}
.circle{
	margin:15px 0 0 0;
	float:right;
	width:300px;
	height:100%;
	background-color: white;
	padding:5px 5px 5px 5px;color:#696A52; border-radius:0px; box-shadow:2px 2px 3px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.75) inset;
}
.tips2{
	padding:0;
	margin:0 0 10px 0;
	float:left;
	width:100%;
	height:10px;
	text-align:right;
	color:2d2d2d;
	font-size:16px;
}
.user-inf{
	margin:20px 0 0 16px;;
	height:80px;
	width:80px;
	float:left;
}
.usersphoto{
	height:65px;
	width:65px;
	border-radius:50%;
	float:left;
	background-color: #3ab6ae;
}

.usersname{
	line-height:24px;
	height:15px;
	width:65px;
	font-size:12px;
	color:#000;
	text-align: center;
}





.noMoreInfo{color:#8f8f8f;font-size:22px;}
.loadComm{position: fixed;left: 33%;top: 50%;z-index: 999;}
.loadPic{position: fixed;left: 45%;top: 80%;z-index: 999;}
.operate2{
	font-size:x-small;
	margin:5px 0 0 7px;
	float:right;
	height:10px;
	width:30px;
	color:#000;
	text-decoration: none;
	outline: none;
	
}
.operate2:hover{
	font-size:x-small;
	margin:5px 0 0 7px;
	float:right;
	height:10px;
	width:30px;
    color:#DE4C1C;
}
.solltop
{
	font-size:20px;	
}

.solltop:hover
{
	font-size:20px;	
}