@charset "utf-8";
body{background-image:url(../images/background_main.png);background-repeat: repeat;height:110%;}
#ctr {
	font-size: 1em;
	border-radius: 5px;
	width: 100%;
	position: relative;
	clear: both;
	padding-top:20px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;

}

.box h3 {text-align:center;margin:0 auto;font-size:7px;	font-weight: normal;}
#ctr ul li {list-style:none}
#ctr ol li {list-style: none}
.centered { margin: 0 auto; }

.box {
  margin: 8px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 100%;
  line-height: 1.4em;
  float: left;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col1 { width: 80px; }

.col1 img { max-width: 80px; }

#pic{
	margin-left: 3px;
	position: relative;

}
#picbg{
	position: relative;
	background-image: url(../images/photobg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
}
#main{float:left;
    padding:5px 10px 60px 15px;
    margin-top:50px;
    margin-left:50px;
	width:900px;height:100%;
	border:solid 1px #E0DEDE;background-image:url(../images/probg.png);}

.border_radius{border-radius:5px;color:#B00000;}