body{background-image:url(../images/NO.3.jpg);background-repeat: repeat;;margin:0;}
 a{display:block;  
 color:#3ab6ae;
    width:100%;
    height:100%;
	text-decoration: none;
	outline: none;}
a:hover{ display:block; width:100%;
    height:100%;color:#fff;}
h1{float:left;font-size:13px;font-weight:normal;text-align:left;height:15px;width:45px;margin:0px;}
h1:hover{float:left;font-size:13px;font-weight:normal;text-align:left;height:15px;width:45px;margin:0px;color:#3ab6ae;}
h2{float:right;font-size:12px;font-weight:normal;text-align:right;height:15px;width:35px;margin:0px;}
h2:hover{float:right;font-size:12px;font-weight:normal;text-align:right;height:15px;width:35px;margin:0px;color:#3ab6ae;}

.top{text-decoration: none;outline: none;float:left;width:12.5%;height:40px;color:#3ab6ae;font-size:27px;background:#fff;text-align:center;}
.top:hover{text-decoration: none;outline: none;float:left;width:12.5%;height:40px;color:#fff;font-size:27px;background:#3ab6ae;text-align:center;}
.top2{text-decoration: none;outline: none;float:left;width:12.5%;height:40px;color:#fff;font-size:27px;background:#3ab6ae;text-align:center;}

.main{height:90%;width:100%;}


#ctr {
	font-size: 1em;
	border-radius: 5px;
	width: 100%;
	position: relative;
	clear: both;
	padding-top:20px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;

}

.box h3 {text-align:center;margin:0 auto;}
#ctr ul li {list-style:none}
#ctr ol li {list-style: none}
.centered { margin: 0 auto; }

.box {
  margin: 8px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 100%;
  line-height: 1.4em;
  float: left;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col1 { width: 120px; }
.col2 { width: 180px; }
.col3 { width: 267px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 120px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 267px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }



.tagline {
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    height:35%;
    width: 47%;
    padding: 0 0 0 0;
   margin-top:10%;
   margin:0 auto;
    color: white; 
    background-repeat: repeat;
	background-image:url(../images/opacity-slider-text.png);
    
    opacity:0.8;
    }
 .tagline p {
    font-weight: normal;
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin-top: 10px; }
    
.tagline h3 {
      padding:15px 0 10px 0;
      margin:0 0 0 0px;
      font-weight: bold;
      font-size: 4.5rem;
      letter-spacing: -0.25rem;
      line-height: 4rem; }

.no{margin:10px 0 10px 20px;
	text-align:left;
    font-size:20px;
	height:40px;
	width:95%;
	color:#000;
}
.comment{
	float:top;
	margin:0px 0 10px 0px;
	width:100%;
	border:1px solid #8f8f8f;
	background-color: #fff;
	height:40px;
	
}
.comment .pic{
	
	float:left;
	height:40px;
	width:40px;
	background-color: #8f8f8f;
	color:#fff;

}
.comment .neirong{
	margin-left:10px;
	text-align:center;
	float:left;
	height:40px;
    font-size:1em;
    line-height:1.8em;
    color:#000;	
}
  
    