body {background-image:url(../images/background_main.png);background-repeat: repeat;
     font-family: Calibri,  sans-serif;
   margin:0px;
    color: #234;
    height:110%;
}
blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a {
	color:#DE4C1C;
	text-decoration: none;
	outline: none;
}
p{line-height:16px;font-size:14px;;text-align:center;margin:0 auto;color:#fff;}
a:hover{color:#000}img{max-width:100%}.pull-right{float:right}.pull-left{float:left}
header{padding:30px 20px;background-image:url(../images/background_main.png);background-repeat: repeat;color:#234;margin-bottom:0px;margin-left:30px;}
.btn-download{background:rgba(24,42,60,0.92);color:rgba(124,142,160,0.92);padding:20px 50px;display:inline-block;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.btn-download:hover{background:rgba(94,112,130,0.92)}
.wrapper{max-width:1000px;margin:0 auto}
.wrapper:before,.wrapper:after{content:'';display:table;clear:both}
footer{margin-top:30px;background:rgba(24,42,60,0.92);color:rgba(124,142,160,0.92);padding:20px 0;text-align:left;font-size:0.9em}@keyframes anima{from{margin-top:-50px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0}to{margin:auto;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}}@-webkit-keyframes anima{from{margin-left:-20px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0}to{margin-left:10px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}}@media screen and (max-width: 560px){.wrapper{padding:20px}}
.frame{
	width:100%;
	height:100%;
    float:left;
    margin:0 auto;
	text-align:center;
}

.one{
	float:left;
	max-width:120px;
	max-height:180px;
	position:relative;
	overflow:hidden;
	margin:20px 0 8px 27px;
}
.itisme{
	margin-top:0px;
	float: top;
	margin-left:0px;
	filter:alpha(opacity=100);
	height:30px;
	width:120px;
}

.guanzhuSmall{
	margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/000.jpg);
	height:30px;
	width:120px;
}
.guanzhuSmall:hover{
	margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/111.jpg);
	height:30px;
	width:120px;
}
.guanzhuFriendSmall{
	margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/000.jpg);
	height:30px;
	width:120px;
}
.guanzhuFriendSmall:hover{
	margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/333.jpg);
	height:30px;
	width:120px;
}
.yiguanzhuSmall{margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/222.jpg);
	height:30px;
	width:120px;
}
.yiguanzhuSmall:hover{
	margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/444.jpg);
	height:30px;
	width:120px;
}
.friendSmall{margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/333.jpg);
	height:30px;
	width:120px;
}
.friendSmall:hover{
	margin-top:0px;
	float: top;
	margin-left:0px;
	background-image:url(../images/444.jpg);
	height:30px;
	width:120px;
}
.top{float:top;
	background: #ffffff;		
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 2;
	box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	margin-bottom: 10px;
	position: relative;
   opacity: 0.7;}
.title{
	float:right;
    margin-bottom:10px;
    width:200px;
    height:30px;
	box-shadow: 0px 0px 9px #757575;
	transition: all;
	font-size:25px;
	color:#3ab6ae;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	background-color:white;
}

.title:hover{
	float:right;
    margin-bottom:10px;
    width:200px;
    height:30px;
	box-shadow: 0px 0px 9px #757575;
	transition: all;
	font-size:25px;
	color:white;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	background-color:#3ab6ae;
}

.titleSelect{
	float:right;
    margin-bottom:10px;
    width:200px;
    height:30px;
	box-shadow: 0px 0px 9px #757575;
	transition: all;
	font-size:25px;
	color:white;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	background-color:#3ab6ae;
}

.noMoreInfo{
	color:#8f8f8f;
	font-size:22px;
	width:100%;
	height:100px;
	position:relative;
	bottom:0;
	overflow:hidden;
	padding-top: 75px;
}

.name{
	margin-top:7px;
	color:#234;
	float:left;
	font-size:16px;
	text-align:center;
    line-height:11px;
	width:120px;
	height:30px;
		position:relative;
}
.name:hover{
	
	font-weight:bold;
	margin-top:7px;
	color:#234;
	float:left;
	font-size:18px;
	text-align:center;
    line-height:11px;
	width:120px;
	height:30px;
		position:relative;
}
.pic{
	float:left;
	max-width:120px;
	max-height:120px;
	position:relative;
	overflow:hidden;
	display:inline-block;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	}
	
	
	.pic-3d{-webkit-perspective:500;
	-moz-perspective:500;
	-o-perspective:500;
	-ms-perspective:500;
	perspective:500;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d}
	
	.pic-caption{
	cursor:default;
	position:absolute;
	width:100%;height:100%;
	background:rgba(0,0,0,0.5);
	padding:10px;text-align:center;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
	filter:alpha(opacity=0);
	-moz-opacity:0;-khtml-opacity:0;opacity:0}
	
	.pic-image{-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1)}
	
	.pic:hover .pic-image{-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1)}
	

	a,a:hover,.pic .pic-image,.pic-caption,.pic:hover .pic-caption,.pic:hover img{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease}.pic:hover .left-to-right,.pic:hover .right-to-left{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-moz-touch-callout:none;-o-touch-callout:none;-ms-touch-callout:none;touch-callout:none;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;-ms-tap-highlight-color:transparent;tap-highlight-color:transparent;text-decoration: none;}
	.left-to-right{top:0;right:50%}.pic:hover .left-to-right{right:0;top:0}
	.right-to-left{top:0;left:50%}.pic:hover .right-to-left{left:0;top:0}
@media screen and (max-width: 560px){.pic{max-width:400px;max-height:300px;display:block;-webkit-animation:none;-moz-animation:none;-o-animation:none;-ms-animation:none;animation:none;margin:10px auto}}




