@charset "utf-8";
/* CSS Document */
html, body {
	font-weight: normal;
	font-family: verdana, tahoma, helvetica, arial, sans-serif, "宋体";
	font-style: normal;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;}
body{background-image:url(../images/background_main.png);

}
a { 
	color:#DE4C1C;
	text-decoration: none;
	outline: none;
}

a:hover {

    text-decoration: none;
}
.top{float:top;
	background: #ffffff;		
	width: 100%;
	height: 30px;
	position: relative;
	z-index: 2;
	box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	margin-bottom: 10px;
	position: relative;
   opacity: 0.7;}
.result{
	width:1280px;
	margin:0 auto;
}
.user{
	padding:0 0 0 0;
	margin:0 0 10px 10px;
	float:left;
	width:630px;
	height:100px;
	background-color:#fff;	
	position: absolute;
}

.headphoto{
	padding:0;
	margin:15px 0 0 15px;
	height:70px;
	width:70px;
	border-radius:50%;
	background-color:#000;
	float:left;
}
.information{
	height:100px;
    width:540px;
	float:left;
}
.left2{
	height:20px;
	width:100%;
	position:absolute;
	
}
 h1{
    padding:0 0 0 40px;
    font-family:"Microsoft YaHei",微软雅黑;
 	font-weight:bold;
	text-align:left;
	float:left;
	height:20px;
	font-size:13px;
	color:#303030;
}
.pff{
	position: absolute;
	margin:0 0 0 170px;
}
.male{
	padding:8px 0 0 30px;
    font-family:"Microsoft YaHei",微软雅黑;
 	font-weight:bold;
	text-align:left;
	float:left;
	height:20px;
	width:50px;
	font-size:13px;
	color:#43a2da;
}
.female{
	padding:8px 0 0 30px;
    font-family:"Microsoft YaHei",微软雅黑;
 	font-weight:bold;
	text-align:left;
	float:left;
	height:20px;
	width:50px;
	font-size:13px;
	color:#ff406d;
}

.left3{
	height:80px;
	width:221px;
	position:absolute;
	margin:20px 0 0 0;
}
h2{ 

    padding:3px 0 0 39px;
	font-family:"Microsoft YaHei",微软雅黑;
	font-weight:normal;
	height:8px;
	font-size:13px;
	color:#303030;
	text-align:left;	
}

.sign{
	height:80px;
	width:290px;
	position:absolute;
	float:left;
	margin:18px 0 0 210px;
}
h3{ 
    padding:3px 0 0 0px;
	font-family:"Microsoft YaHei",微软雅黑;
	font-weight:bold;
	height:8px;
	width:200px;
	font-size:13px;
	color:#303030;	
	float:left;
}

a img {border:0;}

.user-name {  font-family:"Microsoft Yahei";font-size:15px; font-weight:normal;color:#DE4C1C }
.user-name:hover{font-family:"Microsoft Yahei";font-size:15px; font-weight:normal;color:#000 }}

.p1{ font-size:6px; margin:5px 0px 0px 185px; color:#8f8f8f; }
.p2{font-size:15px; margin:5px 5px 0px 3px; color:#234;font-weight: normal;font-style: normal;}
p{font-size:7px; color:#8f8f8f; }

/* comment style */
.ds-post-main { position:relative;margin-bottom:20px; margin-top:10px;  width:100%;}
.ds-avatar {z-index:2;position:absolute;top:10px;left:-20px;padding:0px;width:40px;height:40px; border-radius:50%; box-shadow:-1px 0 1px rgba(0,0,0,.15) inset; background:#fff} repeat 0 0;}
.ds-avatar a {display:block; padding:1px; width:32px; height:32px; border:1px solid #B9BAA6; border-radius:50%; background-color:#fff; -moz-transition:color 0.15s linear; -webkit-transition:color 0.15s linear;transition:color 0.15s linear;}
.ds-avatar img {display:block;width:40px; height:40px;border-radius:50%;box-shadow:0 1px 5px rgba(0, 0, 0, 0.22)}
.ds-comment-body, .ds-avatar, .ds-avatar a,
.ds-avatar img {-webkit-transition:.4s all ease-in-out;-moz-transition:.4s all ease-in-out;-o-transition:.4s all ease-in-out;-ms-transition:.4s all ease-in-out;transition:.4s all ease-in-out}
.ds-post-main:hover .ds-avatar img {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
.ds-comment-body {/*z-index:1*/;	font-family:  Calibri,  sans-serif;position:relative;left:0;background: #ffffff;padding:5px 5px 15px 35px;color:#696A52; border-radius:0px; box-shadow:2px 2px 3px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.75) inset;}
	
