html, body {
	padding:0px;
	margin:0px;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
font-family: verdana, tahoma, helvetica, arial, sans-serif, "宋体"; }

#menu{
	width:100%;
	background-color:#000;
	height:90px;
	filter:alpha(opacity=70); /*IE滤镜，透明度70%*/
    -moz-opacity:0.7; /*Firefox私有，透明度70%*/
    opacity:0.7;/*其他，透明度70%*/
    position:fixed;
    z-index:3;		
}

a { font-size:15px;
	color:#3ab6ae ;
	text-decoration: none;
	outline: none;
	
}

a:hover {
	font-size:15px;
	color:#3ab6ae ;
    text-decoration: underline;
}
.guidance{
	width:830px;
	height:90px;
	position:relative;
	margin:0 auto;
}
.center{
	position:absolute;
	width:830px;
	height:90px;
	left:23.5%;
	text-align: center;
}
#menu p{
	padding:40px 38px 0 30px;
	float:left;
	font-size:15px;
	color:#fff;
}
#menu p:hover{
	font-size:15px;
	color:#fff;

}
.yellow {
  background-color: #ffdb56; }

.btn {
  width: 200px;
  height: 55px;
  border: 2px solid white;
  color: white;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  line-height: 220%; }
  .btn:hover {
    background-color: white;
    color: #ffdb56; }

.hero {
  width: 100%;
  height: 120%;
  min-height: 500px;
  position: relative; }
  .hero .container {
    position: absolute;
    left: 42%;
    top: 53%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1; }
  .hero .tagline {
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    height:30%;
    width: 65%;
    padding: 0 0 0 0;
    float: left;
    margin-top:40%;
    color: white; 
    background-repeat: repeat;
	background-image:url(../images/opacity-slider-text.png);
    
    opacity:0.8;
    }
    .hero .tagline p {
      font-size: 4rem;
      line-height: 4rem;
      margin-top: 10px; }
      @media (max-width: 1450px) {
        .hero .tagline p {
          font-size: 2.8rem;
          line-height: 2.8rem;
          letter-spacing: -2px; } }
      @media (max-width: 600px) {
        .hero .tagline p {
          font-size: 2rem; } }
    .hero .tagline h3 {
    
      font-weight: bold;
      font-size: 7rem;
      letter-spacing: -0.25rem;
      line-height: 7rem; }
      @media (max-width: 1450px) {
        .hero .tagline h3 {
          font-size: 60px;
          line-height: 5rem; } }
    @media (max-width: 1450px) {
      .hero .tagline {
        padding: 1% 0 0 0; } }
    @media (max-width: 800px) {
      .hero .tagline {
        float: none;
        width: 100%;
        margin-bottom: 70px; } }
  
.content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  color: #464646;
  letter-spacing: -1px;
  padding: 75px 0 75px 0; }
  .content h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 10px 0; }
  .content p {
    font-size: 1.4rem;
    font-weight: normal; }
  .content code {
    display: block;
    min-height: 100px;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px 0; }

code {
  background-color: #464646;
  color: #ffdb56;
  font-size: 1rem; }
  @media (max-width: 800px) {
    code {
      font-size: .8rem; } }
  @media (max-width: 600px) {
    code {
      font-size: .5rem; } }

#code-header {
  margin-bottom: 0px; }

#code-footer {
  margin-top: 0px; }

.code-comment {
  font-style: italic;
  color: gray; }

hr {
  margin: 50px 0; }


footer {
  width: 100%;
  height: 400px;
  background-color: #464646;
  position: relative; }
  footer .info {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.25rem;
    letter-spacing: -1px; }
    footer .info a {
      color: white; }

.new-option {
  background-color: #e74c3c;
  color:white;
  font-weight:bold;
  padding: 0px 7px 3px 7px;
  margin-right:5px;
}
