@charset "utf-8";
h1, h2, h3, h4, h5, h6 {
	font-family: 'Colaborate Thin',Helvetica, Arial, sans-serif;
	color: #666666;
	font-weight: normal;
	text-shadow: 1px 1px 0px #ffffff;
	}
body {
	font-family: Arial;
	font-size: 20px;
	margin: 0 auto;
	padding: 0;
	color: #555555;
	line-height: 20px;
	background-attachment: fixed;
	background-repeat: repeat;
	background-image: url(../images/background_main.png);

}
#header {
	overflow: hidden;
	}
.wrapper {
	width: 900px; 
	margin: 0 auto;
	position: relative;
	}

#top {
	background: #ffffff;		
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 2;
	box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow:  rgba(0,0,0, 0.1) 0px 0px 5px;
	margin-bottom: 40px;
	position: relative;
   opacity: 0.7;
	}	
.search{
	height:20px;
	width: 140px;
	margin-top:10px;
	margin-left:20px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-bottom-color: #384B4A;
	background-color: #fff;
	font-size:11px;}
}
.sear{float:left;
	margin-top:2px;
}
.header_top {
	background: transparent url(../images/seperator_main.png) repeat-x bottom left; padding-top: 5px;
	text-align: center;
	}
.header_tagline {
	background: transparent url(../images/seperator_main.png) repeat-x bottom left; padding-top: 120px;
	text-align: center;
	}
.profile{margin-right:600px;
	margin-top:10px;

}


.name{float:left;
margin-top:0px;
margin-left:25px;
	
}
.pic{float:left;

border-radius:50px;
}
.add{
	float: left;
	height:22px;
	width: 50px;
	background-color:#fff;
	margin-top:20px;
	margin-left:28px;
	margin-right:100px;
	color:#255;
	font-size:15px;
    text-align:center;
	
}
.add:hover{
	float: left;
	height:22px;
	width: 50px;
	background-color:#01b8f0;
	margin-top:20px;
	margin-left:28px;
	margin-right:100px;
	color:#fff;
	font-size:15px;
    text-align:center;
	
	
}

#shouye{
	
}
#fans{float:left;
	height:60px;
	width:85px;
	color:#255;
	font-size:20px;
	 text-align:center;
}
#fans:hover{float:left;
	height:60px;
	width:85px;
	color:#000;
	font-size:20px;
	 text-align:center;
}
.f1{float:left;
	height:30px;
	width:85px;
	color:#255;
	font-size:20px;
	 text-align:center;
}
.f1:hover{float:left;
	height:30px;
	width:85px;
	color:#000;
	font-size:20px;
	 text-align:center;
}
#atten{float:left;
	height:60px;
	width:85px;
	color:#255;
	font-size:20px;
	 text-align:center;

}
#atten:hover{float:left;
	height:60px;
	width:85px;
	color:#000;
	font-size:20px;
 text-align:center;
}
.a1{float:left;
	height:30px;
	width:85px;
	color:#255;
	font-size:20px;
	 text-align:center;

}
.a1:hover{float:left;
	height:30px;
	width:85px;
	color:#000;
	font-size:20px;
 text-align:center;
}

#ctr {
	font-size: 1em;
	border-radius: 5px;
	width: 100%;
	position: relative;
	clear: both;
	padding-top:0px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;

}

.box h3 {text-align:center;margin:0 auto;}
#ctr ul li {list-style:none}
#ctr ol li {list-style: none}
.centered { margin: 0 auto; }

.box {
  margin: 8px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 100%;
  line-height: 1.4em;
  float: left;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

.l{float:left;
margin-top:8px;
	width:1px;
	height:45px;
	background-color:#234;
}

/* CSS Document */
